.fill-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/blueprintTank.svg');
}

.fill-truck {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/blueprintTruck.svg');
}

.fill-flag {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/flag.svg');
}

.fill-money {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/money.svg');
}

.fill-multi-tank {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/smartMenu/multiTank.svg');
}

.fill-multi-cell {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/smartMenu/multiCell.svg');
}

.fill-medic {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/medic.svg');
}

.fill-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/speed.svg');
}

.fill-energy-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/speedUp.svg');
}

.fill-energy-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/fireUp.svg');
}

.fill-energy-heal {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/medicUp.svg');
}

.fill-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/redFire.svg');
}

.fill-poison {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/poison.svg');
}

.fill-slow {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/slow.svg');
}

.fill-thunder {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/thunder.svg');
}

.fill-network {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/network.svg');
}

.end-message {
	display: inline-block;
	background-color: #313131;
	border-radius: 50px;
	border-bottom: 6px solid;
	width: -webkit-max-content;
	box-shadow: 0px 0px 5px 0px #191919;
}

.fill-shield {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/shield.svg');
}

.fill-camouflage {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/camouflage.svg');
}

.fill-noMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/forbidden.svg');
}

.fill-reactor {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/reactor.svg');
}

.fill-small {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/smalling.svg');
}

.fill-energy {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/energy.svg');
}

.fill-overlocked {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/overclocked.svg');
}

.fill-active {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/activate.svg');
}

.fill-minus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/minus.svg');
}

.fill-plus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/plus.svg');
}

.fill-exception {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/exception/face.svg');
}

.fill-red-face {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/red/face.svg');
}

.fill-green-face {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/face.svg');
}

.fill-green-eyes1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/eyes1.svg');
}

.fill-green-eyes2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/eyes2.svg');
}

.fill-green-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/mouth1.svg');
}

.fill-green-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/mouth2.svg');
}

.fill-green-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/mouth3.svg');
}

.fill-green-mouth-4 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/green/mouth4.svg');
}

.fill-blue-face {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/blue/face.svg');
}

.fill-red-eyes-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/red/eyes1.svg');
}

.fill-red-eyes-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/red/eyes2.svg');
}

.fill-red-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/red/mouth1.svg');
}

.fill-red-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/red/mouth2.svg');
}

.fill-red-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/red/mouth3.svg');
}

.fill-blue-eyes-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/blue/eyes1.svg');
}

.fill-blue-eyes-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/blue/eyes2.svg');
}

.fill-blue-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/blue/mouth1.svg');
}

.fill-blue-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/blue/mouth2.svg');
}

.fill-blue-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/character/blue/mouth3.svg');
}

.fill-red-building-1 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/redBuilding1.svg');
}

.fill-red-building-2 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/redBuilding2.svg');
}

.fill-red-building-3 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/redBuilding3.svg');
}

.fill-active-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/activeOrder.svg');
}

.fill-target {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/target.svg');
}

.fill-sm-hexa {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/hexa.svg');
}

.fill-sm-diam {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/diamond.svg');
}

.fill-sm-fire {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/fire.svg');
}

.fill-sm-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/tank.svg');
}

.fill-patrol {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/patrol.svg');
}

.fill-cancel {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/cancel.svg');
}

.fill-white-cancel {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/whiteCancel.svg');
}

.fill-abort {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/abort.svg');
}

.fill-searchMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/searchMoney.svg');
}

.fill-diamond {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{asset_path}}svg/UI/icon/diamondStone.svg');
}

.fill-option {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{asset_path}}svg/UI/icon/option.svg');
}

.fill-victory {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/status/victory.svg');
	pointer-events: none;
}

.fill-defeat {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/status/defeat.svg');
	pointer-events: none;
}

.fill-diamond-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/badge/diamond.svg');
}

.fill-death-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/badge/death.svg');
}

.fill-death-badge-gray {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/badge/disableDeath.svg');
}

.fill-hexa-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/badge/disableHexa.svg');
}

.fill-tank-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/badge/disableTank.svg');
}

.fill-light-1 {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/effect/light1.svg');
}

.fill-light-2 {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/effect/light2.svg');
}

.fill-light-3 {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/effect/light3.svg');
}

.fill-light-4 {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/effect/light4.svg');
}

.fill-campaign-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/badge/campaign.svg');
}

.fill-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/logo/{{title}}.svg');
}

.fill-tank-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/logo/tank.svg');
}

.fill-logo-back {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/logo/fire.svg');
	pointer-events: none;
}

.sm-fill-logo-back {
	width: 100%;
	height: 15vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/logo/fire.svg');
	pointer-events: none;
}

.fill-mult-cell {
	overflow: hidden;
	background-size: auto;
	background-position: center;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/multiCell.svg');
}

.fill-tank-multi-cell {
	overflow: hidden;
	background-size: auto;
	background-position: center;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url('{{asset_path}}svg/UI/icon/multiTank.svg');
}
