.custom-btn-layout-4 {
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: rgba(0, 0, 0, 0.75) solid 6px;
}

.custom-btn-layout-3 {
	padding: 3px 2px 3px 2px;
	border-radius: 18px;
	background: rgb(198, 198, 198);
	background: linear-gradient(
		90deg,
		rgba(198, 198, 198, 1) 0%,
		rgba(198, 198, 198, 1) 48%,
		rgba(198, 198, 198, 1) 50%,
		rgba(219, 219, 219, 1) 51%,
		rgba(219, 219, 219, 1) 100%
	);
	border-bottom: #9c9b9b solid 4px;
}

.custom-btn-layout-2 {
	border-radius: 15px;
	padding: 4px 0px 4px 0px;
}

.custom-btn-layout-1 {
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-sm-btn-layout-3 {
	margin: 2px;
	padding: 3px 2px 3px 2px;
	border-radius: 18px;
	background: rgb(198, 198, 198);
	background: linear-gradient(
		90deg,
		rgba(198, 198, 198, 1) 0%,
		rgba(198, 198, 198, 1) 48%,
		rgba(198, 198, 198, 1) 50%,
		rgba(219, 219, 219, 1) 51%,
		rgba(219, 219, 219, 1) 100%
	);
}

.custom-sm-btn-layout-2 {
	border: #6b5e39 solid 1px;
	border-radius: 15px;
	padding: 2px 0px 2px 0px;
}

.custom-drop-down-menu {
	margin-left: 20px;
	border: solid rgba(219, 219, 219, 1) 3px;
	background: rgb(168, 39, 32);
	background: linear-gradient(
		90deg,
		rgba(168, 39, 32, 1) 0%,
		rgba(201, 84, 45) 25%,
		rgb(202, 120, 43) 50%,
		rgb(201, 84, 45) 75%,
		rgba(168, 39, 32, 1) 100%
	);
}

.custom-drop-down-button {
	background-color: #9b1616;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
}

/* and this styles the dropdwon trigger link, when open */
.custom-drop-down-button:hover {
	background-color: #c01b1b;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
}

.black-secondary {
	background: rgb(37, 37, 37);
	background: linear-gradient(
		90deg,
		rgba(37, 37, 37, 1) 0%,
		rgba(94, 94, 94, 1) 25%,
		rgba(144, 144, 144, 1) 50%,
		rgba(94, 94, 94, 1) 75%,
		rgba(37, 37, 37, 1) 100%
	);
}

.black-primary {
	background-color: #1c1c1c;
}

.black-primary:hover {
	background-color: #3f3f3f;
}

.blue-secondary {
	background: rgb(36, 105, 187);
	background: linear-gradient(
		90deg,
		rgba(36, 105, 187, 1) 0%,
		rgba(50, 155, 233, 1) 25%,
		rgba(52, 241, 198, 1) 50%,
		rgba(50, 155, 233, 1) 75%,
		rgba(36, 105, 187, 1) 100%
	);
}

.blue-primary {
	background-color: rgba(50, 155, 233, 1);
}

.blue-primary:hover {
	background-color: rgba(50, 155, 233, 1);
}

.red-secondary {
	background: rgb(168, 39, 32);
	background: linear-gradient(
		90deg,
		rgba(168, 39, 32, 1) 0%,
		rgba(201, 84, 45) 25%,
		rgb(202, 120, 43) 50%,
		rgb(201, 84, 45) 75%,
		rgba(168, 39, 32, 1) 100%
	);
}

.red-primary {
	background-color: #ba1818;
}

.red-primary:hover {
	background-color: #e02020;
}

.green-secondary {
	background: rgb(40, 167, 69);
	background: linear-gradient(
		90deg,
		rgba(40, 167, 69, 1) 0%,
		rgb(63, 173, 89) 25%,
		rgb(134, 214, 96) 50%,
		rgb(63, 173, 89) 75%,
		rgba(40, 167, 69, 1) 100%
	);
}

.green-primary {
	background-color: #28a745;
}

.green-primary:hover {
	background-color: #45cc64;
}

.white-secondary {
	background: rgb(172, 172, 172);
	background: linear-gradient(
		90deg,
		rgba(172, 172, 172, 1) 0%,
		rgba(230, 230, 230, 1) 25%,
		rgba(255, 255, 253, 1) 50%,
		rgba(230, 230, 230, 1) 75%,
		rgba(172, 172, 172, 1) 100%
	);
}

.white-primary {
	color: #454545;
	background-color: #f2f2f2;
}

.yellow-secondary {
	background: rgb(243, 165, 70);
	background: linear-gradient(
		90deg,
		rgba(243, 165, 70, 1) 0%,
		rgba(243, 224, 70, 1) 25%,
		rgba(255, 250, 80, 1) 50%,
		rgba(243, 224, 70, 1) 75%,
		rgba(243, 165, 70, 1) 100%
	);
}

.yellow-primary {
	background-color: #ffd733;
	color: black;
}

.yellow-primary:hover {
	background-color: #ffe579;
	color: black;
}

.blue-selection-secondary {
	background: rgb(94, 225, 252);
	background: linear-gradient(
		90deg,
		rgba(94, 225, 252, 1) 0%,
		rgba(125, 233, 255, 1) 10%,
		rgba(238, 238, 238, 1) 50%,
		rgba(125, 233, 255, 1) 90%,
		rgba(94, 225, 252, 1) 100%
	);
}

.blue-selection-primary {
	background-color: rgba(238, 238, 238, 1);
}

.blue-selection-hover-primary {
	background-color: rgba(94, 225, 252, 1);
}
