.bouncing-up-animation {
	animation: bouncing-up 0.5s alternate ease-in;
}

@keyframes bouncing-up {
	0% {
		transform: scale(.0);
	}
	75% {
		transform: scale(1.5);
	}
	90% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.circular-menu {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
}

.circular-space {
	width: 40px;
	min-width: 40px;
	min-height: 40px;
	height: 40px;
}

.big-circular-space {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
}

.max-space {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	height: 100%;
}

.btn-circular {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
}

.btn-circular {
	font-size: 15px;
	padding: 0px;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all .3s ease-in;
}

.above-circular {
	z-index: 2;
}
