.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.btn-simple-black {
	font-family: Impact;
	background-color: #222223;
	border-bottom: 8px solid black;
	color: gainsboro;
}

.btn-space {
	margin: 10px 10px 10px 10px;
}

.btn-simple-black:hover {
	background-color: black;
	border-bottom: 8px solid black;
	color: gainsboro;
}

.base {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}

.title-container {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 2vh;
	margin: 10px;
	width: 50%;
	font-size: 3vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	min-height: 0px;
	background: #262626;
	color: white;
	font-family: Impact;
}

.duration-container {
	display: inline-block;
	width: -webkit-max-content;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: white;
	background-color: #313131;
}

.fit-content {
	width: fit-content;
}

.left-column {
	position: fixed;
	width: 10%;
	height: 100%;
	top: 0%;
	left: 0%;
	margin-top: 0%;
	background-color: rgba(29, 29, 29, 0.205);
}

@media only screen and (max-width: 600px) {
	.left-column {
		position: fixed;
		width: 60px;
		height: 100%;
		top: 0%;
		left: 0%;
		margin-top: 0%;
		background-color: rgba(29, 29, 29, 0.205);
	}
}

.right-column {
	position: fixed;
	width: 10%;
	height: 100%;
	top: 0%;
	left: 100%;
	margin-top: 0%;
	margin-left: -10%;
	background-color: rgba(29, 29, 29, 0.205);
}

.btn-group-vertical > button {
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-group-vertical > div {
	margin-bottom: 10px;
	margin-top: 10px;
}

@media only screen and (max-width: 600px) {
	.right-column {
		position: fixed;
		width: 60px;
		height: 100%;
		top: 0%;
		left: 100%;
		margin-top: 0%;
		margin-left: -60px;
		background-color: rgba(29, 29, 29, 0.205);
	}
}

.middle2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.centered {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.customed-block {
	width: 50%;
	min-width: 50%;
	min-height: 20px;
	border-radius: 3px;
	border: 2px solid white;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	vertical-align: middle;
}

.small-space {
	min-width: 35px;
	min-height: 35px;
	width: 35px;
	height: 35px;
}

.white-background {
	background-color: rgba(255, 255, 255, 0.3);
}

.max-width {
	width: 100%;
}

.all-max {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.without-padding {
	padding: 0;
}

.standard-space {
	width: 100%;
	min-width: 100%;
	min-height: 50px;
	height: 30%;
}

.sub-background-color {
	border-radius: 1.35em;
	box-shadow: 0 0 0 0.4em #262626;
	background: rgba(197, 183, 152, 1);
}

body {
	height: 100%;
	margin: 0;
	background: #3f3f3f;
}

.bottom-space {
	margin-bottom: 10px;
}

.banner-space {
	width: 100%;
	min-width: 100%;
	min-height: 150px;
	height: 30%;
}

.very-small-space {
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
}

.very-small-left-margin {
	margin-left: 5px;
}

.very-small-right-margin {
	margin-right: 5px;
}

.space-out {
	margin: 5px;
}

.darker {
	background-color: #1f1f1f;
	color: #dee1e6;
}

.container-center {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.bottom-container {
	margin-top: 5px;
	height: 30px;
}

.btn-small {
	padding: 2px 2px;
	font-size: 10px;
}

.row-blue {
	color: #17a2b8;
}
.row-blue:hover {
	color: #17a2b8;
}

.btn-group-space {
	margin-bottom: 1rem;
}

#toast-container > div {
	opacity: 1;
}

.toast-blue .toast-title {
	color: white;
}

.whiteText {
	color: white;
}

.toast-blue {
	background-color: #343a40;
	color: #12a1b7;
	font-weight: bold;
}

.toast-white .toast-title {
	color: #343a40;
}

.toast-white {
	background-color: #dee1e6;
	color: #12a1b7;
	font-weight: bold;
}

.fill-target {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/targetButton.svg');
}

.fill-patrol {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/patrolButton.svg');
}

.fill-cancel {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/cancelButton.svg');
}

.fill-abort {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/AbortMenu.svg');
}

.fill-searchMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/SearchMoneyButton.svg');
}

.fill-diamond {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{}}nature/diamondStone.svg');
}

.fill-option {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{}}option.svg');
}

.generalContainer {
	z-index: 0;
	width: 80%;
	padding: 10px;
}

.absolute-center-middle {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.fill-effect {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/containerEffect.svg');
}

.fill-campaign {
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/character1.svg');
}

.corner-space {
	width: 100%;
	min-width: 100%;
	min-height: 150px;
	height: 30%;
}

.text-center {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.containerStyle {
	border-radius: 1.75em;
	box-shadow: 0 0 0 0.8em #262626;
	background: radial-gradient(circle, rgba(197, 183, 152, 1) 0%, rgba(159, 142, 106, 1) 100%);
	display: flex;
	height: 80vh;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fill-border {
	border-radius: 1.75em;
	height: 80vh;
	box-shadow: 0 0 0 0.8em #262626;
}

.fill-content-camouflage {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/camouflage.svg');
}

.fill-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/tankButton.svg');
}

.fill-truck {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/truckButton.svg');
}

.fill-flag {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/flagMenu.svg');
}

.fill-flag {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/flagMenu.svg');
}

.fill-money {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/moneyMenu.svg');
}

.fill-medic {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/healthMenu.svg');
}

.fill-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/speedMenu.svg');
}

.fill-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/powerMenu.svg');
}

.fill-poison {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/poisonMenu.svg');
}

.fill-slow {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/slowMenu.svg');
}

.fill-camouflage {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/camouflageMenu.svg');
}

.fill-noMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/noMoney.svg');
}

.fill-lightIcon {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/elecIcon.svg');
}

.fill-influence {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/influenceButton.svg');
}

.fill-big {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/biggingMenu.svg');
}

.fill-small {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/smallingMenu.svg');
}

.fill-energy {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/energyButton.svg');
}

.fill-minus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/minusButton.svg');
}

.fill-plus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/plusButton.svg');
}
