::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	height: 6px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	-webkit-border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

@font-face {
	font-family: 'AnimalSilence';
	src: url('{{}}fonts/AnimalSilence.otf') format("opentype");
	letter-spacing: 0.2em;
}

.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@-webkit-keyframes opacity {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.spin {
	-webkit-animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.spin {
	-webkit-animation: spin 15s linear infinite;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.custom-drop-down-menu {
	margin-left: 20px;
	border: solid rgba(219, 219, 219, 1) 3px;
	background: rgb(168, 39, 32);
	background: linear-gradient(
		90deg,
		rgba(168, 39, 32, 1) 0%,
		rgba(201, 84, 45) 25%,
		rgb(202, 120, 43) 50%,
		rgb(201, 84, 45) 75%,
		rgba(168, 39, 32, 1) 100%
	);
}

.custom-drop-down-button {
	background-color: #9b1616;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
}

/* and this styles the dropdwon trigger link, when open */
.custom-drop-down-button:hover {
	background-color: #c01b1b;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
}

.fade {
	-webkit-animation: fade 1s linear infinite alternate;
}

.spin-fade {
	-webkit-animation: fade 1s linear infinite alternate, spin 15s linear infinite;
}

.full-width {
	width: 100%;
}

.btn-space {
	margin: 10px 10px 10px 10px;
}

.no-radius {
	border-radius: 0px;
}

.optionContainer {
	background-color: #1f1f1f;
	border-radius: 5px;
	width: 80%;
	max-width: 350px;
	padding: 10px;
	border: #c2c2c2 solid 3px;
}

.btn-simple-black {
	font-family: Impact;
	background-color: #222223;
	border-bottom: 8px solid black;
	color: gainsboro;
}

.btn-simple-black:hover {
	background-color: black;
	border-bottom: 8px solid black;
	color: gainsboro;
}

.btn-simple-black:active {
	background-color: black;
	border-bottom: 8px solid black;
	color: gainsboro;
}

.btn-simple-red {
	font-family: Impact;
	background-color: #5b1919;
	border-bottom: 8px solid #300e0e;
	color: gainsboro;
}

.btn-simple-red:hover {
	background-color: #5b1919;
	border-bottom: 8px solid #5b1919;
	color: gainsboro;
}

.btn-simple-red:active {
	background-color: #5b1919;
	border-bottom: 8px solid #5b1919;
	color: gainsboro;
}

.custom-table {
	background: rgb(173, 11, 11);
	margin: 0px;
	background: linear-gradient(90deg, rgba(173, 11, 11, 1) 0%, rgba(168, 39, 32, 1) 50%, rgba(144, 19, 44, 1) 100%);
	border-radius: 16px;
}

.base {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}

.title-container {
	margin: 10px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	min-height: 0px;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
}

.duration-container {
	display: inline-block;
	width: -webkit-max-content;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: white;
	background-color: #313131;
}

.black-line {
	background: rgba(197, 183, 152, 0.7);
	border-top: 10px solid #ba3131;
	width: 50%;
	margin-left: 25%;
	position: relative;
}

.long {
	height: 80vh;
}

.short {
	height: 40vh;
}

.fit-content {
	width: fit-content;
}

.fit2 {
	display: block;
	overflow: auto;
}

.left-column {
	position: fixed;
	width: 10%;
	height: 100%;
	top: 0%;
	left: 0%;
	margin-top: 0%;
	background-color: rgba(29, 29, 29, 0.205);
}

@media only screen and (max-width: 600px) {
	.left-column {
		position: fixed;
		width: 60px;
		height: 100%;
		top: 0%;
		left: 0%;
		margin-top: 0%;
		background-color: rgba(29, 29, 29, 0.205);
	}
}

.right-column {
	position: fixed;
	width: 10%;
	height: 100%;
	top: 0%;
	left: 100%;
	margin-top: 0%;
	margin-left: -10%;
	background-color: rgba(29, 29, 29, 0.205);
}

.btn-group-vertical > button {
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-group-vertical > div {
	margin-bottom: 10px;
	margin-top: 10px;
}

@media only screen and (max-width: 600px) {
	.right-column {
		position: fixed;
		width: 60px;
		height: 100%;
		top: 0%;
		left: 100%;
		margin-top: 0%;
		margin-left: -60px;
		background-color: rgba(29, 29, 29, 0.205);
	}
}

.middle2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.customed-block {
	width: 50%;
	min-width: 50%;
	min-height: 20px;
	border-radius: 3px;
	border: 2px solid white;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	vertical-align: middle;
}

.small-space {
	min-width: 35px;
	min-height: 35px;
	width: 35px;
	height: 35px;
}

.white-background {
	background-color: rgba(255, 255, 255, 0.3);
}

.max-width {
	width: 100%;
}

.all-max {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.without-padding {
	padding: 0;
}

.standard-space {
	width: 100%;
	min-width: 100%;
	min-height: 50px;
	height: 30%;
}

.icon-space {
	width: 30px;
	min-width: 30px;
	min-height: 30px;
	height: 30px;
}

.sub-background-color {
	border-radius: 1.35em;
	box-shadow: 0 0 0 0.4em #5b1919;
	background: rgba(197, 183, 152, 0.5);
	margin: 0px 5% 20px 5%;
	width: 90%;
}

body {
	height: 100%;
	margin: 0;
	background-color: #5d9936;
	background-size: 16px 16px;
}

.bottom-space {
	margin-bottom: 10px;
}

.banner-space {
	width: 100%;
	min-width: 100%;
	height: 20%;
}

.very-small-space {
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
}

.very-small-left-margin {
	margin-left: 5px;
}

.very-small-right-margin {
	margin-right: 5px;
}

.space-out {
	margin: 5px;
}

.darker {
	background-color: #1f1f1f;
	color: #dee1e6;
}

.bottom-container {
	margin-top: 5px;
	height: 30px;
}

.btn-small {
	padding: 2px 2px;
	font-size: 10px;
}

.row-blue {
	color: #ff7d93;
	font-weight: bold;
}
.row-blue:hover {
	color: #ff7d93;
	font-weight: bold;
}

.btn-group-space {
	margin-bottom: 1rem;
}

#toast-container > div {
	opacity: 1;
}

.toast-blue .toast-title {
	color: white;
}

.whiteText {
	color: white;
}

.toast-blue {
	background-color: #343a40;
	color: #12a1b7;
	font-weight: bold;
}

.toast-white .toast-title {
	color: #343a40;
}

.toast-white {
	background-color: #dee1e6;
	color: #12a1b7;
	font-weight: bold;
}

.generalContainer {
	z-index: 0;
	width: 80%;
	max-width: 500px;
	padding: 10px;
}

.absolute-center-top {
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0%);
}

.absolute-center-bottom {
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, 0%);
}

.absolute-center-middle {
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -30%);
}

.absolute-center-middle-menu {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.align-text-center {
	text-align: center;
}

.container-center {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-center-horizontal {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}

.campaign-talking {
	font-family: Impact;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	border-radius: 5px;
}

.foe-talking {
	font-family: Impact;
	background: #262626;
	color: white;
	text-align: center;
	border-radius: 5px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}

.logo-container {
	position: relative;
	width: 100%;
	height: 30vh;
	left: 50%;
	transform: translate(-50%, 0%);
}

.title-popup-container {
	position: relative;
	width: 100%;
	height: 30vh;
	left: 50%;
	margin-top: -15vh;
	transform: translate(-50%, 0%);
}

.fill-logo-back-container {
	position: relative;
	width: 100%;
	height: 50%;
	pointer-events: none;
	overflow: hidden;
}

.menu-container {
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
	background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
	border-radius: 20px;
	border: rgba(198, 198, 198, 1) solid 5px;
}

.custom-black-btn {
	background-color: #1c1c1c;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-black-btn:hover {
	background-color: #3f3f3f;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-black-btn:active {
	background-color: #3f3f3f;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-black-border {
	border: #6b5e39 solid 1px;
	border-radius: 15px;
	background: rgb(37, 37, 37);
	background: linear-gradient(
		90deg,
		rgba(37, 37, 37, 1) 0%,
		rgba(94, 94, 94, 1) 25%,
		rgba(144, 144, 144, 1) 50%,
		rgba(94, 94, 94, 1) 75%,
		rgba(37, 37, 37, 1) 100%
	);
	padding: 4px 0px 4px 0px;
}

.custom-sm-red-border {
	border: #6b5e39 solid 1px;
	border-radius: 15px;
	background: rgb(187, 43, 36);
	background: linear-gradient(
		90deg,
		rgba(187, 43, 36, 1) 0%,
		rgba(233, 95, 50, 1) 25%,
		rgba(241, 143, 52, 1) 50%,
		rgba(233, 95, 50, 1) 75%,
		rgba(187, 43, 36, 1) 100%
	);
	padding: 2px 0px 2px 0px;
}

.custom-sm-black-border {
	border: #6b5e39 solid 1px;
	border-radius: 15px;
	background: rgb(37, 37, 37);
	background: linear-gradient(
		90deg,
		rgba(37, 37, 37, 1) 0%,
		rgba(94, 94, 94, 1) 25%,
		rgba(144, 144, 144, 1) 50%,
		rgba(94, 94, 94, 1) 75%,
		rgba(37, 37, 37, 1) 100%
	);
	padding: 2px 0px 2px 0px;
}

.custom-btn {
	background-color: #ba1818;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-btn:hover {
	background-color: #e02020;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-btn:active {
	background-color: #e02020;
	color: white;
	font-family: AnimalSilence;
	letter-spacing: 0.5mm;
	font-size: large;
	text-align: center;
	border-radius: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.custom-red-border {
	border: #6b5e39 solid 1px;
	border-radius: 15px;
	background: rgb(187, 43, 36);
	background: linear-gradient(
		90deg,
		rgba(187, 43, 36, 1) 0%,
		rgba(233, 95, 50, 1) 25%,
		rgba(241, 143, 52, 1) 50%,
		rgba(233, 95, 50, 1) 75%,
		rgba(187, 43, 36, 1) 100%
	);
	padding: 4px 0px 4px 0px;
}

.custom-border-layout-2 {
	padding: 3px 2px 3px 2px;
	border-radius: 18px;
	background: rgb(198, 198, 198);
	background: linear-gradient(
		90deg,
		rgba(198, 198, 198, 1) 0%,
		rgba(198, 198, 198, 1) 48%,
		rgba(198, 198, 198, 1) 50%,
		rgba(219, 219, 219, 1) 51%,
		rgba(219, 219, 219, 1) 100%
	);
	border-bottom: #9c9b9b solid 4px;
}

.custom-sm-border-layout {
	padding: 3px 2px 3px 2px;
	border-radius: 18px;
	background: rgb(198, 198, 198);
	background: linear-gradient(
		90deg,
		rgba(198, 198, 198, 1) 0%,
		rgba(198, 198, 198, 1) 48%,
		rgba(198, 198, 198, 1) 50%,
		rgba(219, 219, 219, 1) 51%,
		rgba(219, 219, 219, 1) 100%
	);
}

.custom-border-layout-3 {
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: rgba(0, 0, 0, 0.75) solid 6px;
}

.fill-border {
	border-radius: 1.75em;
	box-shadow: 0 0 0 0.8em #262626;
}

.fill-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/tankButton.svg');
}

.fill-truck {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/truckButton.svg');
}

.fill-flag {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/flagMenu.svg');
}

.fill-money {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/moneyMenu.svg');
}

.fill-multi-tank {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/smartMenu/multiTank.svg');
}

.fill-multi-cell {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/smartMenu/multiCell.svg');
}

.fill-medic {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/healthMenu.svg');
}

.fill-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/speedMenu.svg');
}

.fill-energy-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/fastEnergyButton.svg');
}

.fill-energy-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/powerEnergyMenu.svg');
}

.fill-energy-heal {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/healEnergyMenu.svg');
}

.fill-power {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/powerMenu.svg');
}

.fill-poison {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/poisonMenu.svg');
}

.fill-slow {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/slowMenu.svg');
}

.fill-thunder {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/thunder.svg');
}

.fill-network {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/network.svg');
}

.end-message {
	display: inline-block;
	background-color: #313131;
	border-radius: 50px;
	border-bottom: 6px solid;
	width: -webkit-max-content;
	box-shadow: 0px 0px 5px 0px #191919;
}

.fill-rip {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/RIP.svg');
}

.fill-victory {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/victory.svg');
}

.fill-shield {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/shield.svg');
}

.fill-camouflage {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/camouflageMenu.svg');
}

.fill-noMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/noMoney.svg');
}

.fill-lightIcon {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/elecIcon.svg');
}

.fill-influence {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/influenceButton.svg');
}

.fill-big {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/biggingMenu.svg');
}

.fill-small {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/smallingMenu.svg');
}

.fill-energy {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/energyButton.svg');
}

.fill-active {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/activate.svg');
}

.fill-minus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/minusButton.svg');
}

.fill-plus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/plusButton.svg');
}

.fill-effect {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/containerEffect.svg');
}

.fill-battle {
	overflow: hidden;
	width: 25px;
	height: 25px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/battle.svg');
}

.fill-redArmy {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redArmyLeader.svg');
}

.fill-redArmy-eyes {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redArmyLeaderEyes.svg');
}

.fill-redArmy-eyes-blink {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redArmyLeaderBlink.svg');
}

.fill-redArmy-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redArmyLeaderMouth1.svg');
}

.fill-redArmy-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redArmyLeaderMouth2.svg');
}

.fill-redArmy-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redArmyLeaderMouth3.svg');
}

.fill-red-building-1 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redBuilding1.svg');
}

.fill-red-building-2 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redBuilding2.svg');
}

.fill-red-building-3 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}components/redBuilding3.svg');
}

.fill-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/order.svg');
}

.fill-active-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/activeOrder.svg');
}

.fill-target {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/targetButton.svg');
}

.fill-sm-hexa {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/hexaIcon.svg');
}

.fill-sm-diam {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/diamIcon.svg');
}

.fill-sm-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/powerIcon.svg');
}

.fill-sm-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/tanIcon.svg');
}

.fill-patrol {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/patrolButton.svg');
}

.fill-cancel {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/cancelButton.svg');
}

.fill-abort {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/AbortMenu.svg');
}

.fill-searchMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}menu/SearchMoneyButton.svg');
}

.fill-diamond {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{}}nature/diamondStone.svg');
}

.fill-option {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{}}option.svg');
}

.fill-logo-back {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/program6LogoBackground.svg');
	pointer-events: none;
}

.fill-defeat {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/defeat.svg');
	pointer-events: none;
}

.fill-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{}}components/program6Logo.svg');
}

body:after {
	content: url('{{}}components/program6Logo.svg') url('{{}}components/program6LogoBackground.svg')
		url('{{}}option.svg') url('{{}}nature/diamondStone.svg') url('{{}}nature/diamondStone.svg')
		url('{{}}menu/SearchMoneyButton.svg') url('{{}}menu/AbortMenu.svg') url('{{}}menu/cancelButton.svg')
		url('{{}}menu/patrolButton.svg') url('{{}}menu/targetButton.svg') url('{{}}menu/activeOrder.svg')
		url('{{}}components/redArmyLeaderMouth3.svg') url('{{}}components/redArmyLeaderMouth2.svg')
		url('{{}}components/redArmyLeaderMouth1.svg') url('{{}}components/redArmyLeaderBlink.svg')
		url('{{}}components/redArmyLeaderEyes.svg') url('{{}}components/redArmyLeader.svg')
		url('{{}}menu/tankButton.svg') url('{{}}menu/truckButton.svg') url('{{}}menu/flagMenu.svg')
		url('{{}}menu/activate.svg') url('{{}}menu/healEnergyMenu.svg') url('{{}}menu/powerEnergyMenu.svg')
		url('{{}}menu/fastEnergyButton.svg') url('{{}}menu/plusButton.svg') url('{{}}menu/minusButton.svg')
		url('{{}}menu/energyButton.svg');
	display: none;
}
