.fill-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/tankButton.svg');
}

.fill-truck {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/truckButton.svg');
}

.fill-flag {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/flagMenu.svg');
}

.fill-money {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/moneyMenu.svg');
}

.fill-multi-tank {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/smartMenu/multiTank.svg');
}

.fill-multi-cell {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/smartMenu/multiCell.svg');
}

.fill-medic {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/healthMenu.svg');
}

.fill-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/speedMenu.svg');
}

.fill-energy-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/fastEnergyButton.svg');
}

.fill-energy-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/powerEnergyMenu.svg');
}

.fill-energy-heal {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/healEnergyMenu.svg');
}

.fill-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/powerMenu.svg');
}

.fill-poison {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/poisonMenu.svg');
}

.fill-slow {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/slowMenu.svg');
}

.fill-thunder {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/thunder.svg');
}

.fill-network {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/network.svg');
}

.end-message {
	display: inline-block;
	background-color: #313131;
	border-radius: 50px;
	border-bottom: 6px solid;
	width: -webkit-max-content;
	box-shadow: 0px 0px 5px 0px #191919;
}

.fill-rip {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/RIP.svg');
}

.fill-victory {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/victory.svg');
}

.fill-shield {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/shield.svg');
}

.fill-camouflage {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/camouflageMenu.svg');
}

.fill-noMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/noMoney.svg');
}

.fill-lightIcon {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/elecIcon.svg');
}

.fill-influence {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/influenceButton.svg');
}

.fill-big {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/biggingMenu.svg');
}

.fill-small {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/smallingMenu.svg');
}

.fill-energy {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/energyButton.svg');
}

.fill-overlocked {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/overlocked.svg');
}

.fill-active {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/activate.svg');
}

.fill-minus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/minusButton.svg');
}

.fill-plus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/plusButton.svg');
}

.fill-effect {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/containerEffect.svg');
}

.fill-battle {
	overflow: hidden;
	width: 25px;
	height: 25px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/battle.svg');
}

.fill-exception {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/exception.svg');
}

.fill-redArmy {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redArmyLeader.svg');
}

.fill-training {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/training.svg');
}

.fill-training-flag-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/trainingFlag1.svg');
}

.fill-training-flag-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/trainingFlag2.svg');
}

.fill-training-flag-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/trainingFlag3.svg');
}

.fill-training-flag-4 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/trainingFlag4.svg');
}

.fill-blueArmy {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/blueArmyLeader.svg');
}

.fill-redArmy-eyes {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redArmyLeaderEyes.svg');
}

.fill-redArmy-eyes-blink {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redArmyLeaderBlink.svg');
}

.fill-redArmy-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redArmyLeaderMouth1.svg');
}

.fill-redArmy-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redArmyLeaderMouth2.svg');
}

.fill-redArmy-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redArmyLeaderMouth3.svg');
}

.fill-blueArmy-eyes {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/blueArmyLeaderEyes.svg');
}

.fill-blueArmy-eyes-blink {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/blueArmyLeaderBlink.svg');
}

.fill-blueArmy-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/blueArmyLeaderMouth1.svg');
}

.fill-blueArmy-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/blueArmyLeaderMouth2.svg');
}

.fill-blueArmy-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/blueArmyLeaderMouth3.svg');
}

.fill-red-building-1 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redBuilding1.svg');
}

.fill-red-building-2 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redBuilding2.svg');
}

.fill-red-building-3 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/redBuilding3.svg');
}

.fill-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/order.svg');
}

.fill-active-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/activeOrder.svg');
}

.fill-target {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/targetButton.svg');
}

.fill-sm-hexa {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/hexaIcon.svg');
}

.fill-sm-diam {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/diamIcon.svg');
}

.fill-sm-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/powerIcon.svg');
}

.fill-sm-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/tanIcon.svg');
}

.fill-patrol {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/patrolButton.svg');
}

.fill-cancel {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/cancelButton.svg');
}

.fill-white-cancel {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/whiteCancelButton.svg');
}

.fill-abort {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/AbortMenu.svg');
}

.fill-searchMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}menu/SearchMoneyButton.svg');
}

.fill-diamond {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{postension}}nature/diamondStone.svg');
}

.fill-option {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{postension}}option.svg');
}

.fill-won {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/victory.svg');
	pointer-events: none;
}

.fill-defeat {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/defeat.svg');
	pointer-events: none;
}

.icon-badge {
	width: 25px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/deathBadge.svg');
}

.icon2-badge {
	width: 25px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/campaign.svg');
}

.fill-diamond-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/diamondBadge.svg');
}

.fill-death-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/deathBadge.svg');
}

.fill-death-badge-gray {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/deathGrayBadge.svg');
}

.fill-hexa-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/hexaGrayBadge.svg');
}

.fill-tank-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/tankGrayBadge.svg');
}

.fill-light1-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/badgeLight1.svg');
}

.fill-light2-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/badgeLight2.svg');
}

.fill-light3-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/badgeLight3.svg');
}

.fill-light4-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/badgeLight4.svg');
}

.fill-campaign-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}components/badge/campaignBadge.svg');
}

body:after {
	content: url('{{postension}}components/program6Logo.svg') url('{{postension}}components/program6LogoBackground.svg')
		url('{{postension}}option.svg') url('{{postension}}nature/diamondStone.svg')
		url('{{postension}}nature/diamondStone.svg') url('{{postension}}menu/SearchMoneyButton.svg')
		url('{{postension}}menu/AbortMenu.svg') url('{{postension}}menu/cancelButton.svg')
		url('{{postension}}menu/patrolButton.svg') url('{{postension}}menu/targetButton.svg')
		url('{{postension}}menu/activeOrder.svg') url('{{postension}}components/redArmyLeaderMouth3.svg')
		url('{{postension}}components/redArmyLeaderMouth2.svg') url('{{postension}}components/redArmyLeaderMouth1.svg')
		url('{{postension}}components/redArmyLeaderBlink.svg') url('{{postension}}components/redArmyLeaderEyes.svg')
		url('{{postension}}components/redArmyLeader.svg') url('{{postension}}components/blueArmyLeaderMouth3.svg')
		url('{{postension}}components/blueArmyLeaderMouth2.svg')
		url('{{postension}}components/blueArmyLeaderMouth1.svg') url('{{postension}}components/blueArmyLeaderBlink.svg')
		url('{{postension}}components/blueArmyLeaderEyes.svg') url('{{postension}}components/blueArmyLeader.svg')
		url('{{postension}}menu/tankButton.svg') url('{{postension}}menu/truckButton.svg')
		url('{{postension}}menu/flagMenu.svg') url('{{postension}}menu/activate.svg')
		url('{{postension}}menu/healEnergyMenu.svg') url('{{postension}}menu/powerEnergyMenu.svg')
		url('{{postension}}menu/fastEnergyButton.svg') url('{{postension}}menu/plusButton.svg')
		url('{{postension}}menu/minusButton.svg') url('{{postension}}menu/energyButton.svg');
	display: none;
}
