.fill-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/tankButton.svg');
}

.fill-truck {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/truckButton.svg');
}

.fill-flag {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/flagMenu.svg');
}

.fill-money {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/moneyMenu.svg');
}

.fill-multi-tank {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/smartMenu/multiTank.svg');
}

.fill-multi-cell {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/smartMenu/multiCell.svg');
}

.fill-medic {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/healthMenu.svg');
}

.fill-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/speedMenu.svg');
}

.fill-energy-speed {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/fastEnergyButton.svg');
}

.fill-energy-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/powerEnergyMenu.svg');
}

.fill-energy-heal {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/healEnergyMenu.svg');
}

.fill-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/powerMenu.svg');
}

.fill-poison {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/poisonMenu.svg');
}

.fill-slow {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/slowMenu.svg');
}

.fill-thunder {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/thunder.svg');
}

.fill-network {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/network.svg');
}

.end-message {
	display: inline-block;
	background-color: #313131;
	border-radius: 50px;
	border-bottom: 6px solid;
	width: -webkit-max-content;
	box-shadow: 0px 0px 5px 0px #191919;
}

.fill-rip {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/RIP.svg');
}

.fill-victory {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/victory.svg');
}

.fill-shield {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/shield.svg');
}

.fill-camouflage {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/camouflageMenu.svg');
}

.fill-noMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/noMoney.svg');
}

.fill-lightIcon {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/elecIcon.svg');
}

.fill-influence {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/influenceButton.svg');
}

.fill-big {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/biggingMenu.svg');
}

.fill-small {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/smallingMenu.svg');
}

.fill-energy {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/energyButton.svg');
}

.fill-overlocked {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/overlocked.svg');
}

.fill-active {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/activate.svg');
}

.fill-minus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/minusButton.svg');
}

.fill-plus {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/plusButton.svg');
}

.fill-effect {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/containerEffect.svg');
}

.fill-battle {
	overflow: hidden;
	width: 25px;
	height: 25px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/battle.svg');
}

.fill-exception {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/exception.svg');
}

.fill-redArmy {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redArmyLeader.svg');
}

.fill-training {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/training.svg');
}

.fill-eyes-training {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/trainingEyes.svg');
}

.fill-blink-training {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/trainingBlinks.svg');
}

.fill-training-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/trainingMouth1.svg');
}

.fill-training-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/trainingMouth2.svg');
}

.fill-training-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/trainingMouth3.svg');
}

.fill-training-mouth-4 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/trainingMouth4.svg');
}

.fill-blueArmy {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/blueArmyLeader.svg');
}

.fill-redArmy-eyes {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redArmyLeaderEyes.svg');
}

.fill-redArmy-eyes-blink {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redArmyLeaderBlink.svg');
}

.fill-redArmy-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redArmyLeaderMouth1.svg');
}

.fill-redArmy-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redArmyLeaderMouth2.svg');
}

.fill-redArmy-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redArmyLeaderMouth3.svg');
}

.fill-blueArmy-eyes {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/blueArmyLeaderEyes.svg');
}

.fill-blueArmy-eyes-blink {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/blueArmyLeaderBlink.svg');
}

.fill-blueArmy-mouth-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/blueArmyLeaderMouth1.svg');
}

.fill-blueArmy-mouth-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/blueArmyLeaderMouth2.svg');
}

.fill-blueArmy-mouth-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/blueArmyLeaderMouth3.svg');
}

.fill-red-building-1 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redBuilding1.svg');
}

.fill-red-building-2 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redBuilding2.svg');
}

.fill-red-building-3 {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/redBuilding3.svg');
}

.fill-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/order.svg');
}

.fill-active-order {
	width: 100%;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/activeOrder.svg');
}

.fill-target {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/targetButton.svg');
}

.fill-sm-hexa {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/hexaIcon.svg');
}

.fill-sm-diam {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/diamIcon.svg');
}

.fill-sm-power {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/powerIcon.svg');
}

.fill-sm-tank {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/tanIcon.svg');
}

.fill-patrol {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/patrolButton.svg');
}

.fill-cancel {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/cancelButton.svg');
}

.fill-white-cancel {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/whiteCancelButton.svg');
}

.fill-abort {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/AbortMenu.svg');
}

.fill-searchMoney {
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/menu/SearchMoneyButton.svg');
}

.fill-diamond {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{postension}}svg/nature/diamondStone.svg');
}

.fill-option {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('{{postension}}svg/components/option.svg');
}

.fill-won {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/victory.svg');
	pointer-events: none;
}

.fill-defeat {
	width: 100%;
	height: 30vh;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/defeat.svg');
	pointer-events: none;
}

.icon-badge {
	width: 25px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/deathBadge.svg');
}

.icon2-badge {
	width: 25px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/campaign.svg');
}

.fill-diamond-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/diamondBadge.svg');
}

.fill-death-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/deathBadge.svg');
}

.fill-death-badge-gray {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/deathGrayBadge.svg');
}

.fill-hexa-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/hexaGrayBadge.svg');
}

.fill-tank-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/tankGrayBadge.svg');
}

.fill-light1-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/badgeLight1.svg');
}

.fill-light2-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/badgeLight2.svg');
}

.fill-light3-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/badgeLight3.svg');
}

.fill-light4-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/badgeLight4.svg');
}

.fill-campaign-badge {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('{{postension}}svg/components/badge/campaignBadge.svg');
}

body:before {
	content: url('{{postension}}svg/components/program6Logo.svg') url('{{postension}}svg/components/training.svg')
		url('{{postension}}svg/components/program6TankLogo.svg') url('{{postension}}svg/components/trainingEyes.svg')
		url('{{postension}}svg/components/trainingBlinks.svg') url('{{postension}}svg/components/program6FireLogo.svg')
		url('{{postension}}svg/components/option.svg') url('{{postension}}svg/nature/diamondStone.svg')
		url('{{postension}}svg/nature/diamondStone.svg') url('{{postension}}svg/menu/SearchMoneyButton.svg')
		url('{{postension}}svg/menu/AbortMenu.svg') url('{{postension}}svg/menu/cancelButton.svg')
		url('{{postension}}svg/menu/patrolButton.svg') url('{{postension}}svg/menu/targetButton.svg')
		url('{{postension}}svg/menu/activeOrder.svg') url('{{postension}}svg/components/redArmyLeaderMouth3.svg')
		url('{{postension}}svg/components/redArmyLeaderMouth2.svg')
		url('{{postension}}svg/components/redArmyLeaderMouth1.svg')
		url('{{postension}}svg/components/redArmyLeaderBlink.svg')
		url('{{postension}}svg/components/redArmyLeaderEyes.svg') url('{{postension}}svg/components/redArmyLeader.svg')
		url('{{postension}}svg/components/blueArmyLeaderMouth3.svg')
		url('{{postension}}svg/components/blueArmyLeaderMouth2.svg')
		url('{{postension}}svg/components/blueArmyLeaderMouth1.svg')
		url('{{postension}}svg/components/blueArmyLeaderBlink.svg')
		url('{{postension}}svg/components/blueArmyLeaderEyes.svg')
		url('{{postension}}svg/components/blueArmyLeader.svg') url('{{postension}}svg/menu/tankButton.svg')
		url('{{postension}}svg/menu/truckButton.svg') url('{{postension}}svg/menu/flagMenu.svg')
		url('{{postension}}svg/menu/activate.svg') url('{{postension}}svg/menu/healEnergyMenu.svg')
		url('{{postension}}svg/menu/powerEnergyMenu.svg') url('{{postension}}svg/menu/fastEnergyButton.svg')
		url('{{postension}}svg/menu/plusButton.svg') url('{{postension}}svg/menu/minusButton.svg')
		url('{{postension}}svg/menu/energyButton.svg');
	display: none;
}
